
<ul class="titled-items-list titled-items-list--ordered">
	<li class="titled-items-list__item titled-item">
		<div class="titled-item__title">Grow your reach</div>
		<div class="titled-item__content">Advertise and sell your products directly through your Facebook page and reach billions of potential customers.</div>
	</li>
	<li class="titled-items-list__item titled-item">
		<div class="titled-item__title">Increase your revenue</div>
		<div class="titled-item__content">Merchants see an average increase of 15% in revenue when selling on Facebook.</div>
	</li>
	<li class="titled-items-list__item titled-item">
		<div class="titled-item__title">Easy checkout</div>
		<div class="titled-item__content">With Facebook Shop, your customers will be able to easily browse products on mobile and checkout on any device.</div>
	</li>
</ul>
